body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}

button {
    background-color: rgba(0, 0, 0, 0.0);
    padding: 6px;
    border-radius: 8px;
    border-color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all .3s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
}

.count-number {
    font-size: 60px;
    margin-top: -20px;
    margin-bottom: 20px;
}



